body{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	font-family:impact,sans-serif;
}
h1,h2,p{
	font-family:impact,sans-serif;
}
input{
	width:100%;
	border:2px solid white;
	background-color:black;
	color:white;
	font-weight:bold;
	font-family:impact,sans-serif;
}
textarea{
	width:100%;
	border:2px solid white;
	background-color:black;
	color:white;
	font-weight:bold;
	font-family:impact,sans-serif;
}
.form-button{
	width:50%;
	border:2px solid white;
	background-color:black;
	color:white;
	font-weight:bold;
	font-family:impact;
}
img{
	width:100%;
}
.nav-text{
	font-family:impact,sans-serif;
	font-size:2vw;
	-webkit-text-stroke: 1px white;
    	-webkit-text-fill-color: black;
}
.hometext{
	text-align:center;
	font-size: 6vw;
	z-index:1;
	position:relative;
}
.homeview{
	min-height:50vw;
	min-width:100%;
	margin:0;
	padding:0;
	position:relative;
	overflow:hidden;
}
.aboutmeview{
	min-height:50vw;
	min-width:100%;
	margin:0;
	padding:0;
	position:relative;
}
.specialtext{
	position:absolute;
	z-index:-1;
	opacity:0.5;
	font-size:40vw;
	text-align:center;
   	-webkit-text-stroke: 1px white;
    	-webkit-text-fill-color: transparent;
}
.specialtext1{
	position:absolute;
	z-index:1;
	opacity:0.5;
	font-size:40vw;
	bottom:-10px;
	left:1px;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 500px) {
.specialtext1{
	position:relative;
	z-index:1;
	opacity:0.5;
	font-size:30vw;
	left:1px;
   	-webkit-text-stroke: 1px white;
    	-webkit-text-fill-color: transparent;
	font-family:impact,sans-serif;
}
.specialtext{
	position:absolute;
	z-index:-1;
	opacity:0.5;
	font-size:20vw;
	text-align:center;
   	-webkit-text-stroke: 1px white;
    	-webkit-text-fill-color: transparent;
	font-family:impact,sans-serif;
}
} 
.img-responsive{
	height:100%;
	width:100%;
}
.aboutmetext{
	font-size:4vw;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
	opacity:0.5;
}
.sidetext{
	font-family:impact; 
	font-size:1.5vw;
}
